@model ManagementSystem.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}


<h4>Duzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentID" />
            <div class="mt-2">
                <label asp-for="Course" class="control-label">Ders</label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.Course">
                </select>
                <span asp-validation-for="Course" class="text-danger"></span>

            </div>
            <div class="mt-2">
                <label asp-for="Student" class="control-label">Ogrenci</label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.Student">
                </select>
                <span asp-validation-for="Student" class="text-danger"></span>

            </div>
            <div class="mt-2">
                <label asp-for="Grade" class="control-label">Not</label>
                <select asp-for="Grade" class="form-control" asp-items="Html.GetEnumSelectList<Grade>()">
                </select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
