<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" asp-area="" asp-controller="Home" asp-action="Index">School Management System</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
        </header>
            <div class="container-fluid">
                <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="position-sticky pt-3 sidebar-sticky">
                            <ul class="nav flex-column">
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Enrollment" asp-action="">Enrollment</a>
                                </li>
                                <li>
                                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Student" asp-action="">Student</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Course" asp-action="">Course</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Instructor" asp-action="">Instructor</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                <main role="main" class="ol-md-9 ms-sm-auto col-lg-10 px-md-4 mt-md-3">
                    @RenderBody()
                </main>
                </div>
            </div>
  


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
